<section id="cadastrar-noticia">

    <div>
        <h2 class="titulo">Cadastrar notícia</h2>
    </div>

     <form action="/cadastro" method="POST">
        <div class="campo">
            <label for="titulo">Título: </label>
            <input type="text" id="tituloNoticia" name="tituloNoticia" required>
        </div>

        <div class="campo">            
            <label for="categoria">Categoria: </label>
            <input type="text" id="categoriaNoticia" name="categoriaNoticia" required>
        </div>
        
        <div class="campo">
            <label for="nconteudo">Conteúdo: </label>
            <textarea name="conteudoNoticia" id="conteudoNoticia" cols="34" rows="8"></textarea>
        </div>

        <div class="botao-cadastrar">
            <input class="botao-cadastrar"  type="submit" value="  Enviar  ">
        </div>
    </form>
</section>