<div class="flex-container">
    {{#each posts}}
        <div class="flex-item">
            <h1 id="titulo-noticia">{{tituloNoticia}}</h1>
            <p>{{conteudoNoticia}}</p>
            <a href="/acessar/{{id}}" class="botao"><button class="btn-delete">Acessar</button></a>
            <a href="/deletar/{{id}}" class="botao"><button class="btn-delete">Deletar</button></a>
        </div>
    {{/each}}
</div>   