html, * {
    margin: 0;
    padding:0;
    border: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    }

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 12vh;
    background-color: rgb(203, 201, 201);
    display: block;
}


.main-grid {
    margin-top: 12vh;
    margin-bottom: 8vh;
    background-color: green;
}

.footer {
    background-color: rgb(152, 150, 150);
    position: fixed;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 8vh;
}

.flex-container {
    display: flex;
    background-color: yellow;
    padding: 30px;
    margin: auto;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cabecalho {
    display: flex;
    padding-top: 28px;
    padding-left: 12%;
}

.flex-item{
    background-color: rgb(247, 187, 225);
    margin-bottom: 30px;
    padding: 16px;
    flex: 0 1 30%;
    height: 35vh;
    border-style: solid;
    border-color: rgb(107, 1, 79);
    border-width: 2px;
}

.flex-item p{
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.btn-delete{
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.cabecalho .logo {
    font-size: 17px;
    font-weight: bold;
    padding-right: 28%;
}

.menu-navegacao ul li{
    display: inline;
    font-size: 13px;
    padding: 8px;
}

.menu-navegacao ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

#div-busca{
    padding-left: 20px;
}

#div-busca input {
    border-radius: 12px;
    height: 22px;
    width: 180px;
    border: none;
}


.footer p{
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

#cadastrar-noticia {
    padding: 3%;
    height: 80vh;
    background-color: rgba(250, 255, 240, 0.767);
    font-family: sans-serif;
    font-size: 12px;
    margin: auto;
    width: 35vw;
}

#cadastrar-noticia input, select, textarea{
    border-radius: 15px;
}

.titulo {
    margin-bottom: 1em;
}

.campo{
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 1em;
    display: block;
}

.campo input, .campo textarea {
    padding: 2px; 
    border: 1px solid #000;
    display: block;
    width: 340px;
}

.botao-cadastrar {
    font-size: 10px;
    color: aliceblue;
    background: rgb(108, 108, 108);
    border-radius: 15px;
}

.botao-cadastrar input {
    font-size: 12px;
    padding: 5px;
    align-content: center;
}

#titulo-noticia {
    font-size: 13px;
}